# Generalized Linear Regression

## This is Multiple Linear Regression on diabetes dataset (CampusX)

## Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dataset

In [2]:
from sklearn.datasets import load_diabetes

In [3]:
data = load_diabetes()

In [4]:
data

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990749, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06833155, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286131, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04688253,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452873, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00422151,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'frame': None,
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'diabetes_data_raw.csv.gz',
 'target_filename': 'diabetes_target.csv.gz',
 'data_module': 'sklearn.datasets.data'}

In [5]:
data['data']

array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
         0.01990749, -0.01764613],
       [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
        -0.06833155, -0.09220405],
       [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
         0.00286131, -0.02593034],
       ...,
       [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
        -0.04688253,  0.01549073],
       [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
         0.04452873, -0.02593034],
       [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
        -0.00422151,  0.00306441]])

In [6]:
data['feature_names']

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [7]:
df = pd.DataFrame(data = data['data'], columns = data['feature_names'])

In [8]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [9]:
data['target']

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
        94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
       220.,  57.])

In [10]:
df['target'] = data['target']

In [11]:
df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

## Adding x0 = 1 as column

In [12]:
df = df.reset_index()
df

,index,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...,...
437,437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [13]:
cols = df.columns
cols
cols = list(cols) # cause index doesn't accept change

In [14]:
cols

['index',
 'age',
 'sex',
 'bmi',
 'bp',
 's1',
 's2',
 's3',
 's4',
 's5',
 's6',
 'target']

In [15]:
cols[0] = 'x0'
cols

['x0', 'age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6', 'target']

In [16]:
df.columns = cols
df

,x0,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...,...
437,437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

In [17]:
df['x0'] = 1
df

,x0,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,1,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,151.0
1,1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,75.0
2,1,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,141.0
3,1,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,206.0
4,1,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...,...
437,1,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,1,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,104.0
439,1,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,132.0
440,1,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,220.0
441,1,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,57.0

## Train Test Split

In [18]:
l = [1,2,3,4,5]
print(l[:-1])
print(l[-1:])
print(l[-1])

[1, 2, 3, 4]
[5]
5

In [20]:
# x = df['TV']
# x

In [21]:
# x.ndim

#### Here the dimension of x is 1 which will cause error in train test split ,since tran test split expects x to be 2 dimensional.

#### so the way we can do is 
#### i)  x = np.array(df['TV']).reshape(len(x),1)
#### ii) x = df[['TV']]
#### ii) x = df[df.columns[:-1]]

In [22]:
# x = np.array(df['TV']).reshape(len(x),1)
# x
# x.ndim

In [23]:
# x = df[['TV']]
# x
# x.ndim

In [24]:
x = df[df.columns[:-1]]
x

,x0,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,1,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,1,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,1,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,1,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...,...
437,1,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,1,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,1,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,1,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,1,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

In [25]:
x.ndim

2

In [26]:
y = df[df.columns[-1:]]
y

     target
0     151.0
1      75.0
2     141.0
3     206.0
4     135.0
..      ...
437   178.0
438   104.0
439   132.0
440   220.0
441    57.0

[442 rows x 1 columns]

In [27]:
y.ndim

2

In [28]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [29]:
x_train

,x0,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
70,1,-0.001882,-0.044642,-0.069797,-0.012556,-0.000193,-0.009143,0.070730,-0.039493,-0.062917,0.040343
37,1,-0.009147,-0.044642,0.011039,-0.057313,-0.024960,-0.042963,0.030232,-0.039493,0.017036,-0.005220
170,1,0.023546,0.050680,-0.020218,-0.036656,-0.013953,-0.015092,0.059685,-0.039493,-0.096435,-0.017646
400,1,-0.023677,-0.044642,0.045529,0.090729,-0.018080,-0.035447,0.070730,-0.039493,-0.034522,-0.009362
286,1,-0.038207,-0.044642,-0.054707,-0.077970,-0.033216,-0.086490,0.140681,-0.076395,-0.019198,-0.005220
...,...,...,...,...,...,...,...,...,...,...,...
299,1,0.038076,0.050680,-0.013751,-0.015999,-0.035968,-0.021982,-0.013948,-0.002592,-0.025953,-0.001078
22,1,-0.085430,-0.044642,-0.004050,-0.009113,-0.002945,0.007767,0.022869,-0.039493,-0.061176,-0.013504
72,1,0.063504,0.050680,-0.004050,-0.012556,0.103003,0.048790,0.056003,-0.002592,0.084492,-0.017646
15,1,-0.052738,0.050680,-0.018062,0.080401,0.089244,0.107662,-0.039719,0.108111,0.036060,-0.042499
168,1,0.001751,0.050680,0.059541,-0.002228,0.061725,0.063195,-0.058127,0.108111,0.068986,0.127328

In [30]:
# x_train = x_train.reset_index()
# x_train

In [31]:
y_train

     target
70     48.0
37    276.0
170    47.0
400   175.0
286    60.0
..      ...
299    83.0
22     68.0
72    202.0
15    171.0
168   268.0

[353 rows x 1 columns]

# Linear Regression

In [32]:
np.array(x_train)

array([[ 1.        , -0.00188202, -0.04464164, ..., -0.03949338,
        -0.06291688,  0.04034337],
       [ 1.        , -0.00914709, -0.04464164, ..., -0.03949338,
         0.01703607, -0.0052198 ],
       [ 1.        ,  0.02354575,  0.05068012, ..., -0.03949338,
        -0.09643495, -0.01764613],
       ...,
       [ 1.        ,  0.06350368,  0.05068012, ..., -0.00259226,
         0.08449153, -0.01764613],
       [ 1.        , -0.05273755,  0.05068012, ...,  0.1081111 ,
         0.03606033, -0.04249877],
       [ 1.        ,  0.00175052,  0.05068012, ...,  0.1081111 ,
         0.06898589,  0.12732762]])

In [33]:
X = np.array(x_train)
X

array([[ 1.        , -0.00188202, -0.04464164, ..., -0.03949338,
        -0.06291688,  0.04034337],
       [ 1.        , -0.00914709, -0.04464164, ..., -0.03949338,
         0.01703607, -0.0052198 ],
       [ 1.        ,  0.02354575,  0.05068012, ..., -0.03949338,
        -0.09643495, -0.01764613],
       ...,
       [ 1.        ,  0.06350368,  0.05068012, ..., -0.00259226,
         0.08449153, -0.01764613],
       [ 1.        , -0.05273755,  0.05068012, ...,  0.1081111 ,
         0.03606033, -0.04249877],
       [ 1.        ,  0.00175052,  0.05068012, ...,  0.1081111 ,
         0.06898589,  0.12732762]])

In [34]:
np.transpose(X)

array([[ 1.        ,  1.        ,  1.        , ...,  1.        ,
         1.        ,  1.        ],
       [-0.00188202, -0.00914709,  0.02354575, ...,  0.06350368,
        -0.05273755,  0.00175052],
       [-0.04464164, -0.04464164,  0.05068012, ...,  0.05068012,
         0.05068012,  0.05068012],
       ...,
       [-0.03949338, -0.03949338, -0.03949338, ..., -0.00259226,
         0.1081111 ,  0.1081111 ],
       [-0.06291688,  0.01703607, -0.09643495, ...,  0.08449153,
         0.03606033,  0.06898589],
       [ 0.04034337, -0.0052198 , -0.01764613, ..., -0.01764613,
        -0.04249877,  0.12732762]])

In [35]:
Xt = np.transpose(X)
Xt

array([[ 1.        ,  1.        ,  1.        , ...,  1.        ,
         1.        ,  1.        ],
       [-0.00188202, -0.00914709,  0.02354575, ...,  0.06350368,
        -0.05273755,  0.00175052],
       [-0.04464164, -0.04464164,  0.05068012, ...,  0.05068012,
         0.05068012,  0.05068012],
       ...,
       [-0.03949338, -0.03949338, -0.03949338, ..., -0.00259226,
         0.1081111 ,  0.1081111 ],
       [-0.06291688,  0.01703607, -0.09643495, ...,  0.08449153,
         0.03606033,  0.06898589],
       [ 0.04034337, -0.0052198 , -0.01764613, ..., -0.01764613,
        -0.04249877,  0.12732762]])

In [36]:
XtX = np.dot(Xt,X)
XtX

array([[ 3.53000000e+02, -3.59226823e-02, -5.07016847e-01,
        -7.22721765e-01, -1.21931294e-01, -3.39194171e-01,
        -7.01634988e-01,  8.14279161e-01, -9.51231584e-01,
        -1.03738610e-01, -3.39006149e-01],
       [-3.59226823e-02,  8.20967496e-01,  1.41874960e-01,
         1.80487652e-01,  2.83447221e-01,  2.35892391e-01,
         1.90418063e-01, -6.31103606e-02,  1.84124182e-01,
         2.54930348e-01,  2.86247901e-01],
       [-5.07016847e-01,  1.41874960e-01,  7.95580922e-01,
         7.04549395e-02,  1.79747998e-01,  2.63140905e-04,
         8.60276097e-02, -2.99960819e-01,  2.57031428e-01,
         1.08678991e-01,  1.87427433e-01],
       [-7.22721765e-01,  1.80487652e-01,  7.04549395e-02,
         7.92372628e-01,  3.35896866e-01,  1.99230748e-01,
         2.15252524e-01, -2.94169684e-01,  3.22034052e-01,
         3.59480196e-01,  3.15896870e-01],
       [-1.21931294e-01,  2.83447221e-01,  1.79747998e-01,
         3.35896866e-01,  8.00195622e-01,  1.98146915e-01,
         1.55205364e-01, -1.31094721e-01,  2.01978040e-01,
         3.04464679e-01,  2.97854701e-01],
       [-3.39194171e-01,  2.35892391e-01,  2.63140905e-04,
         1.99230748e-01,  1.98146915e-01,  7.94563676e-01,
         7.08557334e-01,  4.53907433e-02,  4.27047853e-01,
         4.13749952e-01,  2.48780554e-01],
       [-7.01634988e-01,  1.90418063e-01,  8.60276097e-02,
         2.15252524e-01,  1.55205364e-01,  7.08557334e-01,
         7.88957953e-01, -1.54216283e-01,  5.17293149e-01,
         2.57005508e-01,  2.33675449e-01],
       [ 8.14279161e-01, -6.31103606e-02, -2.99960819e-01,
        -2.94169684e-01, -1.31094721e-01,  4.53907433e-02,
        -1.54216283e-01,  7.95457225e-01, -5.61029109e-01,
        -3.21220842e-01, -2.14128115e-01],
       [-9.51231584e-01,  1.84124182e-01,  2.57031428e-01,
         3.22034052e-01,  2.01978040e-01,  4.27047853e-01,
         5.17293149e-01, -5.61029109e-01,  7.44324811e-01,
         4.84523897e-01,  3.13813701e-01],
       [-1.03738610e-01,  2.54930348e-01,  1.08678991e-01,
         3.59480196e-01,  3.04464679e-01,  4.13749952e-01,
         2.57005508e-01, -3.21220842e-01,  4.84523897e-01,
         8.07339176e-01,  3.40901470e-01],
       [-3.39006149e-01,  2.86247901e-01,  1.87427433e-01,
         3.15896870e-01,  2.97854701e-01,  2.48780554e-01,
         2.33675449e-01, -2.14128115e-01,  3.13813701e-01,
         3.40901470e-01,  7.77878199e-01]])

In [37]:
XtXinverse = np.linalg.inv(XtX)
XtXinverse

array([[ 2.85058113e-03, -3.80221852e-04,  7.47474697e-04,
         2.53023091e-03, -5.43099025e-04,  4.28745325e-04,
        -7.58817849e-04,  4.15683642e-04,  5.51327024e-03,
        -3.64032607e-03, -4.10173799e-05],
       [-3.80221852e-04,  1.56256338e+00, -1.65221785e-01,
        -4.22134896e-03, -3.02050400e-01, -1.91042687e-02,
        -1.81335783e-01, -1.64258266e-01,  7.11951450e-02,
        -2.62414202e-01, -3.16337562e-01],
       [ 7.47474697e-04, -1.65221785e-01,  1.64517233e+00,
         2.72282619e-01, -3.15128257e-01,  7.91472682e-01,
        -3.49865857e-01,  5.50207453e-03, -7.10933011e-01,
         5.04207258e-02, -2.06987698e-01],
       [ 2.53023091e-03, -4.22134896e-03,  2.72282619e-01,
         2.00512084e+00, -5.25944627e-01,  1.38390412e+00,
        -1.37471764e+00,  1.74658427e-02,  9.39446076e-02,
        -9.06361438e-01, -3.41358502e-01],
       [-5.43099025e-04, -3.02050400e-01, -3.15128257e-01,
        -5.25944627e-01,  1.81641420e+00, -3.93342350e-01,
         1.83347804e-01,  1.09926583e-01,  3.52227810e-01,
        -2.39975426e-01, -2.31036046e-01],
       [ 4.28745325e-04, -1.91042687e-02,  7.91472682e-01,
         1.38390412e+00, -3.93342350e-01,  7.11603633e+01,
        -5.55700329e+01, -3.14802123e+01, -9.76508386e+00,
        -2.60186501e+01,  1.63400289e-02],
       [-7.58817849e-04, -1.81335783e-01, -3.49865857e-01,
        -1.37471764e+00,  1.83347804e-01, -5.55700329e+01,
         4.74596036e+01,  2.19665163e+01,  2.24379245e+00,
         2.14566952e+01, -1.07499410e-01],
       [ 4.15683642e-04, -1.64258266e-01,  5.50207453e-03,
         1.74658427e-02,  1.09926583e-01, -3.14802123e+01,
         2.19665163e+01,  1.86027233e+01,  9.94122503e+00,
         1.06015684e+01, -5.64599787e-02],
       [ 5.51327024e-03,  7.11951450e-02, -7.10933011e-01,
         9.39446076e-02,  3.52227810e-01, -9.76508386e+00,
         2.24379245e+00,  9.94122503e+00,  1.26534450e+01,
         6.47276010e-01, -2.28305406e-01],
       [-3.64032607e-03, -2.62414202e-01,  5.04207258e-02,
        -9.06361438e-01, -2.39975426e-01, -2.60186501e+01,
         2.14566952e+01,  1.06015684e+01,  6.47276010e-01,
         1.22688588e+01, -3.01133475e-01],
       [-4.10173799e-05, -3.16337562e-01, -2.06987698e-01,
        -3.41358502e-01, -2.31036046e-01,  1.63400289e-02,
        -1.07499410e-01, -5.64599787e-02, -2.28305406e-01,
        -3.01133475e-01,  1.91450142e+00]])

In [38]:
b = np.dot(XtXinverse,Xt)
b

array([[ 2.69404681e-03,  2.63467433e-03,  3.01258469e-03, ...,
         2.57016324e-03,  3.22572297e-03,  3.33369916e-03],
       [-8.77989356e-04,  7.63814849e-03,  6.04712641e-02, ...,
         5.74961412e-02, -1.18393786e-01, -5.93720472e-02],
       [-6.74431099e-02, -2.46589028e-02,  1.07714242e-01, ...,
         1.51004994e-01,  2.90874485e-02,  2.74369926e-02],
       ...,
       [ 1.60987064e-01, -2.21785273e-02,  9.39557437e-02, ...,
        -3.44502755e-01,  3.68611267e-01,  3.19167550e-01],
       [-1.90052947e-01,  2.33378820e-01, -5.11591216e-01, ...,
        -1.02322508e-02,  1.01998817e-01, -4.32516983e-02],
       [ 1.38707908e-01,  1.79627760e-02, -3.11850643e-04, ...,
        -9.16949298e-02, -1.31036281e-01,  1.64914689e-01]])

In [39]:
np.array(y_train)

array([[ 48.],
       [276.],
       [ 47.],
       [175.],
       [ 60.],
       [ 81.],
       [242.],
       [197.],
       [137.],
       [129.],
       [138.],
       [160.],
       [116.],
       [101.],
       [147.],
       [100.],
       [144.],
       [ 69.],
       [219.],
       [107.],
       [168.],
       [236.],
       [109.],
       [321.],
       [128.],
       [ 43.],
       [ 72.],
       [ 55.],
       [141.],
       [283.],
       [ 59.],
       [150.],
       [346.],
       [124.],
       [186.],
       [308.],
       [272.],
       [190.],
       [ 63.],
       [ 91.],
       [ 72.],
       [ 65.],
       [158.],
       [ 90.],
       [185.],
       [ 45.],
       [199.],
       [206.],
       [ 61.],
       [139.],
       [296.],
       [281.],
       [122.],
       [ 95.],
       [ 40.],
       [127.],
       [145.],
       [108.],
       [185.],
       [ 53.],
       [132.],
       [101.],
       [263.],
       [ 94.],
       [295.],
       [259.],
       [232.],
       [124.],
       [ 77.],
       [102.],
       [ 96.],
       [ 83.],
       [263.],
       [ 71.],
       [246.],
       [ 66.],
       [115.],
       [222.],
       [ 93.],
       [129.],
       [128.],
       [163.],
       [ 99.],
       [ 92.],
       [179.],
       [140.],
       [ 94.],
       [ 97.],
       [174.],
       [ 61.],
       [202.],
       [135.],
       [ 88.],
       [152.],
       [ 69.],
       [ 31.],
       [248.],
       [275.],
       [ 64.],
       [ 94.],
       [ 99.],
       [109.],
       [ 90.],
       [ 37.],
       [164.],
       [274.],
       [200.],
       [ 49.],
       [214.],
       [ 85.],
       [154.],
       [134.],
       [164.],
       [189.],
       [ 64.],
       [150.],
       [245.],
       [ 67.],
       [265.],
       [151.],
       [ 75.],
       [208.],
       [292.],
       [ 90.],
       [ 59.],
       [ 44.],
       [277.],
       [ 67.],
       [ 72.],
       [182.],
       [135.],
       [275.],
       [ 95.],
       [332.],
       [214.],
       [ 53.],
       [141.],
       [102.],
       [ 88.],
       [ 74.],
       [103.],
       [292.],
       [ 70.],
       [138.],
       [139.],
       [ 98.],
       [ 72.],
       [ 25.],
       [ 72.],
       [264.],
       [ 93.],
       [ 52.],
       [177.],
       [245.],
       [270.],
       [ 42.],
       [113.],
       [134.],
       [ 50.],
       [ 71.],
       [118.],
       [ 96.],
       [181.],
       [ 97.],
       [183.],
       [216.],
       [283.],
       [ 90.],
       [ 71.],
       [102.],
       [248.],
       [ 97.],
       [259.],
       [297.],
       [ 78.],
       [118.],
       [191.],
       [ 83.],
       [103.],
       [113.],
       [146.],
       [229.],
       [ 60.],
       [144.],
       [196.],
       [265.],
       [230.],
       [156.],
       [ 71.],
       [ 88.],
       [310.],
       [ 53.],
       [172.],
       [262.],
       [104.],
       [265.],
       [ 75.],
       [259.],
       [180.],
       [167.],
       [109.],
       [181.],
       [129.],
       [ 63.],
       [281.],
       [140.],
       [206.],
       [144.],
       [110.],
       [221.],
       [257.],
       [275.],
       [178.],
       [246.],
       [ 49.],
       [261.],
       [182.],
       [121.],
       [173.],
       [230.],
       [252.],
       [190.],
       [197.],
       [118.],
       [152.],
       [242.],
       [185.],
       [ 69.],
       [215.],
       [272.],
       [ 39.],
       [198.],
       [104.],
       [ 66.],
       [128.],
       [ 84.],
       [ 48.],
       [125.],
       [ 52.],
       [151.],
       [ 85.],
       [209.],
       [303.],
       [225.],
       [143.],
       [ 96.],
       [262.],
       [273.],
       [ 63.],
       [217.],
       [ 96.],
       [ 60.],
       [241.],
       [170.],
       [196.],
       [104.],
       [155.],
       [235.],
       [126.],
       [ 84.],
       [180.],
       [166.],
       [ 77.],
       [258.],
       [ 53.],
       [114.],
       [178.],
       [113.],
       [279.],
       [161.],
       [144.],
       [ 51.],
       [ 57.],
       [249.],
       [ 52.],
       [168.],
       [ 55.],
       [131.],
       [ 78.],
       [280.],
       [220.],
       [ 65.],
       [ 89.],
       [336.],
       [310.],
       [170.],
       [137.],
       [ 80.],
       [ 92.],
       [150.],
       [210.],
       [ 91.],
       [233.],
       [182.],
       [101.],
       [111.],
       [168.],
       [258.],
       [ 51.],
       [ 90.],
       [127.],
       [ 85.],
       [ 85.],
       [142.],
       [202.],
       [310.],
       [120.],
       [107.],
       [155.],
       [257.],
       [ 59.],
       [143.],
       [ 59.],
       [173.],
       [ 70.],
       [ 71.],
       [198.],
       [ 72.],
       [ 42.],
       [192.],
       [248.],
       [153.],
       [ 52.],
       [170.],
       [ 87.],
       [252.],
       [311.],
       [225.],
       [ 58.],
       [ 39.],
       [302.],
       [122.],
       [220.],
       [200.],
       [275.],
       [121.],
       [293.],
       [214.],
       [219.],
       [191.],
       [142.],
       [ 49.],
       [ 48.],
       [162.],
       [172.],
       [116.],
       [281.],
       [ 42.],
       [ 83.],
       [ 68.],
       [202.],
       [171.],
       [268.]])

In [40]:
Y = np.array(y_train)
Y

array([[ 48.],
       [276.],
       [ 47.],
       [175.],
       [ 60.],
       [ 81.],
       [242.],
       [197.],
       [137.],
       [129.],
       [138.],
       [160.],
       [116.],
       [101.],
       [147.],
       [100.],
       [144.],
       [ 69.],
       [219.],
       [107.],
       [168.],
       [236.],
       [109.],
       [321.],
       [128.],
       [ 43.],
       [ 72.],
       [ 55.],
       [141.],
       [283.],
       [ 59.],
       [150.],
       [346.],
       [124.],
       [186.],
       [308.],
       [272.],
       [190.],
       [ 63.],
       [ 91.],
       [ 72.],
       [ 65.],
       [158.],
       [ 90.],
       [185.],
       [ 45.],
       [199.],
       [206.],
       [ 61.],
       [139.],
       [296.],
       [281.],
       [122.],
       [ 95.],
       [ 40.],
       [127.],
       [145.],
       [108.],
       [185.],
       [ 53.],
       [132.],
       [101.],
       [263.],
       [ 94.],
       [295.],
       [259.],
       [232.],
       [124.],
       [ 77.],
       [102.],
       [ 96.],
       [ 83.],
       [263.],
       [ 71.],
       [246.],
       [ 66.],
       [115.],
       [222.],
       [ 93.],
       [129.],
       [128.],
       [163.],
       [ 99.],
       [ 92.],
       [179.],
       [140.],
       [ 94.],
       [ 97.],
       [174.],
       [ 61.],
       [202.],
       [135.],
       [ 88.],
       [152.],
       [ 69.],
       [ 31.],
       [248.],
       [275.],
       [ 64.],
       [ 94.],
       [ 99.],
       [109.],
       [ 90.],
       [ 37.],
       [164.],
       [274.],
       [200.],
       [ 49.],
       [214.],
       [ 85.],
       [154.],
       [134.],
       [164.],
       [189.],
       [ 64.],
       [150.],
       [245.],
       [ 67.],
       [265.],
       [151.],
       [ 75.],
       [208.],
       [292.],
       [ 90.],
       [ 59.],
       [ 44.],
       [277.],
       [ 67.],
       [ 72.],
       [182.],
       [135.],
       [275.],
       [ 95.],
       [332.],
       [214.],
       [ 53.],
       [141.],
       [102.],
       [ 88.],
       [ 74.],
       [103.],
       [292.],
       [ 70.],
       [138.],
       [139.],
       [ 98.],
       [ 72.],
       [ 25.],
       [ 72.],
       [264.],
       [ 93.],
       [ 52.],
       [177.],
       [245.],
       [270.],
       [ 42.],
       [113.],
       [134.],
       [ 50.],
       [ 71.],
       [118.],
       [ 96.],
       [181.],
       [ 97.],
       [183.],
       [216.],
       [283.],
       [ 90.],
       [ 71.],
       [102.],
       [248.],
       [ 97.],
       [259.],
       [297.],
       [ 78.],
       [118.],
       [191.],
       [ 83.],
       [103.],
       [113.],
       [146.],
       [229.],
       [ 60.],
       [144.],
       [196.],
       [265.],
       [230.],
       [156.],
       [ 71.],
       [ 88.],
       [310.],
       [ 53.],
       [172.],
       [262.],
       [104.],
       [265.],
       [ 75.],
       [259.],
       [180.],
       [167.],
       [109.],
       [181.],
       [129.],
       [ 63.],
       [281.],
       [140.],
       [206.],
       [144.],
       [110.],
       [221.],
       [257.],
       [275.],
       [178.],
       [246.],
       [ 49.],
       [261.],
       [182.],
       [121.],
       [173.],
       [230.],
       [252.],
       [190.],
       [197.],
       [118.],
       [152.],
       [242.],
       [185.],
       [ 69.],
       [215.],
       [272.],
       [ 39.],
       [198.],
       [104.],
       [ 66.],
       [128.],
       [ 84.],
       [ 48.],
       [125.],
       [ 52.],
       [151.],
       [ 85.],
       [209.],
       [303.],
       [225.],
       [143.],
       [ 96.],
       [262.],
       [273.],
       [ 63.],
       [217.],
       [ 96.],
       [ 60.],
       [241.],
       [170.],
       [196.],
       [104.],
       [155.],
       [235.],
       [126.],
       [ 84.],
       [180.],
       [166.],
       [ 77.],
       [258.],
       [ 53.],
       [114.],
       [178.],
       [113.],
       [279.],
       [161.],
       [144.],
       [ 51.],
       [ 57.],
       [249.],
       [ 52.],
       [168.],
       [ 55.],
       [131.],
       [ 78.],
       [280.],
       [220.],
       [ 65.],
       [ 89.],
       [336.],
       [310.],
       [170.],
       [137.],
       [ 80.],
       [ 92.],
       [150.],
       [210.],
       [ 91.],
       [233.],
       [182.],
       [101.],
       [111.],
       [168.],
       [258.],
       [ 51.],
       [ 90.],
       [127.],
       [ 85.],
       [ 85.],
       [142.],
       [202.],
       [310.],
       [120.],
       [107.],
       [155.],
       [257.],
       [ 59.],
       [143.],
       [ 59.],
       [173.],
       [ 70.],
       [ 71.],
       [198.],
       [ 72.],
       [ 42.],
       [192.],
       [248.],
       [153.],
       [ 52.],
       [170.],
       [ 87.],
       [252.],
       [311.],
       [225.],
       [ 58.],
       [ 39.],
       [302.],
       [122.],
       [220.],
       [200.],
       [275.],
       [121.],
       [293.],
       [214.],
       [219.],
       [191.],
       [142.],
       [ 49.],
       [ 48.],
       [162.],
       [172.],
       [116.],
       [281.],
       [ 42.],
       [ 83.],
       [ 68.],
       [202.],
       [171.],
       [268.]])

In [41]:
b = np.dot(b,Y)
b

array([[ 151.88331005],
       [  -9.15865318],
       [-205.45432163],
       [ 516.69374454],
       [ 340.61999905],
       [-895.5520019 ],
       [ 561.22067904],
       [ 153.89310954],
       [ 126.73139688],
       [ 861.12700152],
       [  52.42112238]])

In [42]:
b.shape

(11, 1)

In [43]:
b.ndim

2

In [44]:
n = len(x_train.columns)
n

11

In [45]:
print('intercept :',b[0,0])

intercept : 151.8833100525417

In [46]:
print('coefficients :')
for i in range(1,n):
    print('b'+str(i),':',b[i,0])

coefficients :
b1 : -9.158653181170266
b2 : -205.45432163451972
b3 : 516.6937445408257
b4 : 340.61999904554864
b5 : -895.5520019034723
b6 : 561.2206790412974
b7 : 153.89310953636254
b8 : 126.73139687846668
b9 : 861.1270015229954
b10 : 52.42112237904715

In [47]:
b

array([[ 151.88331005],
       [  -9.15865318],
       [-205.45432163],
       [ 516.69374454],
       [ 340.61999905],
       [-895.5520019 ],
       [ 561.22067904],
       [ 153.89310954],
       [ 126.73139688],
       [ 861.12700152],
       [  52.42112238]])

In [48]:
x_test

,x0,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
212,1,0.067136,-0.044642,0.003494,0.035644,0.049341,0.031254,0.070730,-0.039493,-0.000612,0.019633
422,1,-0.078165,0.050680,0.077863,0.052858,0.078236,0.064447,0.026550,-0.002592,0.040673,-0.009362
67,1,0.041708,0.050680,-0.014828,-0.017135,-0.005697,0.008394,-0.013948,-0.001854,-0.011897,0.003064
89,1,-0.045472,-0.044642,-0.048241,-0.019442,-0.000193,-0.016032,0.067048,-0.039493,-0.024795,0.019633
390,1,0.009016,0.050680,0.069241,0.059744,0.017694,-0.023234,-0.047082,0.034309,0.103297,0.073480
...,...,...,...,...,...,...,...,...,...,...,...
129,1,0.009016,-0.044642,0.016428,0.004658,0.009439,0.010586,-0.028674,0.034309,0.038968,0.119043
417,1,-0.052738,-0.044642,0.071397,-0.074527,-0.015328,-0.001314,0.004460,-0.021412,-0.046883,0.003064
332,1,0.030811,-0.044642,0.104809,0.076958,-0.011201,-0.011335,-0.058127,0.034309,0.057108,0.036201
150,1,0.023546,-0.044642,0.070319,0.025315,-0.034592,-0.014466,-0.032356,-0.002592,-0.019198,-0.009362
192,1,0.056239,0.050680,-0.030996,0.008101,0.019070,0.021233,0.033914,-0.039493,-0.029526,-0.059067

In [49]:
y_test

     target
212    73.0
422   233.0
67     97.0
89    111.0
390   277.0
..      ...
129   268.0
417    55.0
332   270.0
150   288.0
192    91.0

[89 rows x 1 columns]

In [50]:
# y_prediction

y_cap = list()
y_prediction = 0

for row in x_test.index:
    for i in range(len(x_test.columns)):
        y_prediction = y_prediction + b[i,0] * x_test[x_test.columns[i]][row]
    
    y_cap.append(y_prediction)
    y_prediction = 0

y_cap

[154.12138809538388,
 204.81835117652113,
 124.93755352869645,
 106.08950892826081,
 258.5348575985561,
 256.3310074008204,
 118.75087616091729,
 119.52440696107092,
 101.50816734991433,
 190.54048660815045,
 141.70656811061923,
 172.51883961465617,
 174.33861648821446,
 134.809427061262,
 294.1399453657878,
 94.11798038458302,
 211.9705979485928,
 156.49579378119395,
 134.21000428481727,
 119.62664644088285,
 148.87842251198666,
 165.00873409287837,
 151.10021037547727,
 176.04063756372486,
 133.27769647287911,
 221.29555392247377,
 197.17324941409592,
 96.15776879970186,
 50.26012710959056,
 230.4858031667962,
 242.06073865938393,
 114.11129217711597,
 67.07532416760307,
 94.52943824732783,
 201.21415375235506,
 167.05136201269355,
 159.8812679972984,
 192.78746658751817,
 114.49551325245072,
 233.48234551299345,
 140.82563044691443,
 121.06804090464465,
 192.2748077151156,
 191.12738845238925,
 179.16865787866436,
 148.34935601317426,
 163.47414621761686,
 276.8164788384625,
 100.17926431639201,
 164.10555297563172,
 255.8076218869284,
 136.9466203974684,
 152.37503698927478,
 107.92237882178236,
 194.2192467799715,
 77.34670792324647,
 118.50482478968183,
 68.3833576282625,
 154.2925852895304,
 162.48840259273197,
 168.3678832587176,
 156.8779032227415,
 97.14191796912219,
 238.16712149650377,
 145.46179903815985,
 117.65702432598279,
 168.8878431074405,
 198.38683887355165,
 118.24053714311327,
 124.64552811949498,
 223.1770036781398,
 200.6301238598483,
 129.54414665715035,
 158.15847649700427,
 154.332565002972,
 114.47070768978254,
 70.44906407019886,
 76.39738790221324,
 172.41584590630995,
 80.56270076704196,
 80.27228340046021,
 89.46150247599753,
 186.2157205231604,
 275.4627540336115,
 208.2678422174809,
 143.79451509378248,
 291.2876684643839,
 206.3247484413816,
 94.22935404453355]

In [51]:
len(y_cap)

89

## Model Evaluation on Test Dataset

In [52]:
y_test

     target
212    73.0
422   233.0
67     97.0
89    111.0
390   277.0
..      ...
129   268.0
417    55.0
332   270.0
150   288.0
192    91.0

[89 rows x 1 columns]

In [53]:
# R Square

y_mean = y_test[y_test.columns[0]].mean()

sum1 = 0
sum2 = 0

for i in range(len(y_cap)):
    diff = y_test.iloc[i][y_test.columns[0]] - y_cap[i] 
    sum1 = sum1 + (diff ** 2)

for i in y_test.index:
    diff = y_test[y_test.columns[0]][i] - y_mean
    sum2 = sum2 + (diff ** 2)

r2 = 1 - (sum1 / sum2)

print(r2)

0.43993386615689645

In [54]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_cap) # first comes actual value and then predicted value
print(r2)

0.43993386615689656

In [55]:
# MSE

sum1 = 0

for i in range(len(y_cap)):
    diff = y_test.iloc[i][y_test.columns[0]] - y_cap[i] 
    sum1 = sum1 + (diff ** 2)

mse = sum1 / (len(y_cap))
print(mse)

3094.456671566064

In [56]:
# RMSE

rmse = np.sqrt(mse)
rmse
print(rmse)

55.62784079546917

In [57]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_cap)
print('MSE :',mse)
rmse = np.sqrt(mse)
print('RMSE :',rmse)

MSE : 3094.456671566064
RMSE : 55.62784079546917