# Logistic Regression on hearing_test dataset (with standardization)

## Library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Dataset

In [2]:
df = pd.read_csv('hearing_test.csv')
df

       age  physical_score  test_result
0     33.0            40.7            1
1     50.0            37.2            1
2     52.0            24.7            0
3     56.0            31.0            0
4     35.0            42.9            1
...    ...             ...          ...
4995  73.0             3.9            0
4996  57.0            33.9            1
4997  49.0            34.5            1
4998  38.0            46.4            1
4999  48.0            38.5            1

[5000 rows x 3 columns]

In [3]:
df[df.columns[:-1]]

       age  physical_score
0     33.0            40.7
1     50.0            37.2
2     52.0            24.7
3     56.0            31.0
4     35.0            42.9
...    ...             ...
4995  73.0             3.9
4996  57.0            33.9
4997  49.0            34.5
4998  38.0            46.4
4999  48.0            38.5

[5000 rows x 2 columns]

In [4]:
x = df[df.columns[:-1]]
x

       age  physical_score
0     33.0            40.7
1     50.0            37.2
2     52.0            24.7
3     56.0            31.0
4     35.0            42.9
...    ...             ...
4995  73.0             3.9
4996  57.0            33.9
4997  49.0            34.5
4998  38.0            46.4
4999  48.0            38.5

[5000 rows x 2 columns]

In [5]:
y = df[df.columns[-1:]]
y

      test_result
0               1
1               1
2               0
3               0
4               1
...           ...
4995            0
4996            1
4997            1
4998            1
4999            1

[5000 rows x 1 columns]

## Standardization

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler = StandardScaler()

In [8]:
scaler.fit(x)

StandardScaler()

In [9]:
x = scaler.transform(x)

In [10]:
x = pd.DataFrame(x, columns=df.columns[:-1])
x

           age  physical_score
0    -1.648876        0.971937
1    -0.142568        0.543487
2     0.034645       -0.986691
3     0.389070       -0.215481
4    -1.471663        1.241249
...        ...             ...
4995  1.895378       -3.532907
4996  0.477677        0.139520
4997 -0.231174        0.212969
4998 -1.205844        1.669698
4999 -0.319780        0.702626

[5000 rows x 2 columns]

## Train Test Split

In [15]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.1,random_state=101)

In [16]:
x_train

           age  physical_score
141  -1.737482        1.253490
4755  0.920709       -0.619448
4886 -1.028631        2.000217
2304  1.363740       -0.668414
2727  0.123251        0.310900
...        ...             ...
4171  1.718166       -2.002729
599   0.211858        0.359866
1361  1.186528       -1.415140
1547  2.781442       -1.060139
4959 -1.914695        1.167800

[4500 rows x 2 columns]

In [17]:
y_train

      test_result
141             1
4755            0
4886            1
2304            0
2727            1
...           ...
4171            0
599             1
1361            0
1547            0
4959            1

[4500 rows x 1 columns]

## Logistic Regression

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
model = LogisticRegression()

In [20]:
model.fit(x_train, y_train)

c:\Users\HP\anaconda3\envs\main\lib\site-packages\sklearn\utils\validation.py:1141: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

## Test Accuracy

In [23]:
model.score(x_test,y_test)

0.93

In [21]:
y_pred = model.predict(x_test)

In [22]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.93